In [1]:
import random


# Operations
CREATE = "CREATE" 
DELETE= "DELETE"

# Some random names
names_pool = [
    "Liam", "Olivia", "Noah", "Emma", "Oliver", "Charlotte", "Elijah", "Amelia", 
    "James", "Ava", "William", "Sophia", "Benjamin", "Isabella", "Lucas", "Mia", 
    "Henry", "Evelyn", "Alexander", "Harper", "Mason", "Ella", "Michael", "Luna", 
    "Ethan", "Camila", "Daniel", "Gianna", "Jacob", "Elizabeth", "Logan", "Sofia", 
    "Jackson", "Emily", "Levi", "Scarlett", "Sebastian", "Madison", "Mateo", 
    "Abigail", "Jack", "Avery", "Owen", "Ella", "Theodore", "Grace", "Aiden", 
    "Chloe", "Samuel", "Victoria", "Joseph", "Riley", "John", "Aria", "David", 
    "Lillian", "Wyatt", "Nora", "Matthew", "Zoey", "Luke", "Hannah", "Asher", 
    "Hazel", "Carter", "Lily", "Julian", "Ellie", "Grayson", "Violet", "Leo", 
    "Aurora", "Jayden", "Savannah", "Gabriel", "Audrey", "Isaac", "Brooklyn", 
    "Lincoln", "Bella", "Anthony", "Claire", "Hudson", "Skylar", "Dylan", 
    "Lucy", "Ezra", "Paisley", "Thomas", "Everly", "Charles", "Anna", "Christopher", 
    "Caroline", "Jaxon", "Nova", "Maverick", "Genesis", "Josiah", "Emilia", 
    "Isaiah", "Kennedy", "Andrew", "Samantha", "Elias", "Maya", "Joshua", 
    "Willow", "Nathan", "Kinsley", "Caleb", "Naomi", "Ryan", "Aaliyah", "Adrian", 
    "Elena", "Miles", "Sarah", "Eli", "Ariana", "Nolan", "Allison", "Christian", 
    "Gabriella", "Aaron", "Alice", "Cameron", "Madelyn", "Ezekiel", "Cora", 
    "Colton", "Ruby", "Luca", "Eva", "Landon", "Serenity", "Hunter", "Autumn", 
    "Jonathan", "Adeline", "Santiago", "Hailey", "Axel", "Gianna", "Easton", 
    "Isla", "Cooper", "Freya", "Jeremiah", "Ivy", "Angel", "Josephine", "Roman", 
    "Emery", "Connor", "Piper", "Jameson", "Raelynn", "Robert", "Athena", "Greyson", 
    "Eleanor", "Jordan", "Everleigh", "Ian", "Melody", "Carson", "Leah"
]

# Some pc synonyms
device_pool = [
    "computer", "PC", "workstation", "laptop", "desktop", "notebook", 
    "machine", "device", "workstation"
]


def get_random_ip():
    """
    Generate a random IPv4 address.

    Returns:
        str: A random IP address in the format 'X.X.X.X'.
    """
    return ".".join(str(random.randint(0, 255)) for _ in range(4))


def create_simulation(iterations, seed):

    ips = dict()
    simulation = []

    random.seed(seed)

    for i in range(iterations):
        
        if len(ips) > 0 and random.random() <= 0.3:
            
            choice = random.choice(list(ips.keys()))
            del ips[choice]
            simulation.append((DELETE, ip))

        else:
            
            ip = get_random_ip()
            device_name = f"{random.choice(names_pool)}{random.randint(0,200)} {random.choice(device_pool)}"
            
            if ips.get(ip):
                simulation.append((DELETE, ip))
            
            ips[ip] = device_name
            simulation.append((CREATE, ip, device_name))

    return simulation

In [2]:
simulation = create_simulation(200000, 50)

In [3]:
import etcd3

# Connect to etcd
etcd = etcd3.client(host='etcd1', port=2380)  # Use 'etcd' as the hostname for Docker's network

# Write a key-value pair
#etcd.put('key', 'value')

# Retrieve the value
#value, metadata = etcd.get('key')
#print(f"Key: 'key', Value: {value.decode('utf-8')}")

In [4]:
%%time
for op in simulation:
    if op[0] == CREATE:
        etcd.put(op[2], op[1])
    else:
        etcd.delete(op[2])

CPU times: user 27 s, sys: 11.5 s, total: 38.5 s
Wall time: 2min 51s

In [5]:
%load_ext sql

In [6]:
%sql mysql://root:root@sample-dns-mysql

In [13]:
%%sql
CREATE DATABASE IF NOT EXISTS test_database;
USE test_database;
CREATE TABLE IF NOT EXISTS ips(
    ip CHAR(20),
    device CHAR(200)
);
SHOW DATABASES;

 * mysql://root:***@sample-dns-mysql
1 rows affected.
0 rows affected.
0 rows affected.
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test_database',)]

In [14]:
%sql delete from ips where true;

 * mysql://root:***@sample-dns-mysql
4723 rows affected.

[]

In [15]:
%%time
%%capture
for op in simulation:
    if op[0] == CREATE:
        q = f"INSERT INTO ips (ip, device) VALUES (\'{op[2]}\', \'{op[1]}\')"
        %sql $q;
    else:
        q = f"DELETE FROM ips WHERE ip = \'{op[2]}\'"
        %sql $q;
        pass

CPU times: user 1min 47s, sys: 15.7 s, total: 2min 2s
Wall time: 23min 30s

In [16]:
%sql select count(1) from ips

 * mysql://root:***@sample-dns-mysql
1 rows affected.

[(98096,)]